
@media screen and (max-width:992px) {
    .card {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    .text {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
}